*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/sdk
/app/src/main/jniLibs

# Download large files manually
/tesseract_assets/src/main/assets/system_small.dic
/tesseract_assets/src/main/assets/JMdict_e.xml